h1, h2, h3, h4, h5 ,h6 {
    font-family: '', sans-serif;
    font-weight: 300;
}
a, p {
    font-family: '', sans-serif;
    font-weight: 400;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}
@media (min-width: 767px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
html {
    background-color: #fff;
}
html, body {
    width: 100%;
    margin: 0;
}

/**
 * 4.0 Header
 */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding: 10px;
}
header h1 {
    margin: 0;
    line-height: 80px;
}
header nav {
    padding: 0;
}
header nav a,
header nav a:link,
header nav a:visited {
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}
header nav a:hover {
    color: #111;
}
header nav a:active {
    color: #aaa;
}

/**
 * 5.0 Content
 */

#main {
    width: 900px;
    padding: 80px 0 0 300px;
}
#slideshow {
    width: 610px;
    height: 600px;
    padding: 0 10px 0 0;
}
.cycle-slideshow {
    width: 100%;
    height: 100%;
}
.slide {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#pager {
    width: 100%;
    padding: 10px 0 0 0;
}
#pager a {
    float: left;
    width: 20%;
    padding-right: 10px;
}
#pager a div {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}