h1, h2, h3, h4, h5 ,h6 {
    font-family: '', sans-serif;
    font-weight: 300;
}
a, p {
    font-family: '', sans-serif;
    font-weight: 400;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}
@media (min-width: 767px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
html {
    background-color: #fff;
}
html, body {
    width: 100%;
    margin: 0;
}

/**
 * 4.0 Header
 */


/**
 * 5.0 Content
 */