---
layout: layouts/base.njk
permalink: /bio/
key: bio
---

<!-- prettier-ignore -->
<div class="page bio">
    <h1>About the Artist</h1>
    <p class="lede">Born Batu Pahat, Malaysia. Lives and works in New York.</p>
    
    <h2>Statement</h2>
    <p>Growing up in a Malaysian kampong (village), the youngest in a large, extended multi-generational family, I was exposed to the endless cycle of life and death, and beheld the power of all things living to adapt, transform, and evolve.</p>
    <p>Of all our abilities, I sense deeply that we being both rational[1] and emotional[2] beings who lie at the intersection of perception[3] and intuition[4], objectivity and subjectivity, is what makes us unique both as a species as well as individuals. How we balance such opposing forces in our hearts and minds, as well as within our communities will, I believe, determine our destiny.</p>
    <p>I hope to provide a lens into these powerful, but hidden, forces so that each of us in our own individual ways may search and find a path to harmony by resolving these complementary opposites, and perhaps glimpse some reason and purpose in the seemingly whimsical, random ways of nature.</p>
    <ul>
      <li>1. Rational [adjective] governed by, or showing evidence of, clear and sensible thinking and judgment, based on reason rather than emotion or prejudice</li>
      <li>2. Emotional [adjective] inspired or governed by emotion, and not by reason or willpower</li>
      <li>3. Perception [noun] using the senses to acquire information about the surrounding environment or situation</li>
      <li>4. Intuition [noun] being aware of or knowing something without having to discover or perceive it</li>
    </ul>
    
    <h2>Education</h2>
    <dl class="bio-list">
      <dt>1988-91</dt><dd>New York University, New York. M.A. in Studio Art</dd>
      <dt>1981</dt><dd>City of London Polytechnic, London, England. Full time studies in Painting and Drawing</dd>
      <dt>1980-81</dt><dd>Byam Shaw School of Art, London, England. Postgraduate certificate in Painting</dd>
      <dt>1975-79</dt><dd>National Taiwan Normal University, Taipei. B.F.A</dd>
    </dl>

    <h2>Experience</h2>
    <dl class="bio-list">
      <dt>1992-present</dt><dd>Full time artist. New York</dd>
      <dt>1986-87</dt><dd>Full time artist. London, England</dd>
      <dt>1985</dt><dd>Part time Lecturer, Federal Art &amp;Design Center, Kuala Lumpur</dd>
      <dt>1984-85</dt><dd>Dean of Art Department and full time Lecturer in Painting &amp; Drawing. Central Academy of Art, Kuala Lumpur</dd>
      <dt>1982-83</dt><dd>Full time Lecturer in Art. Malaysian Institute of Art, Kuala Lumpur</dd>
    </dl>

    <h2>Exhibitions</h2>
    <dl class="bio-list">
      <dt>2016</dt><dd>“Crochet Coral Reef: TOXIC SEAS” group exhibition, Museum of Arts and Design, New York<br/>
      “2016 Korea Bojagi Forum” group exhibition, Suwon, Korea<br/>
      “Fresh Out of Storage” group exhibition, New York, 2016</dd>
      <dt>2015</dt><dd>“Crochet Coral Forest” group exhibition. Southwest School of Art, San Antonio, Texas</dd>
      <dt>2014</dt><dd>“Crochet Coral Reef” group exhibition. New York University Abu Dhabi Institute, UAE</dd>
      <dt>2011</dt><dd>“Hyperbolic: Reefs, Rubbish, and Reason” group exhibition. Williamson Gallery, Art Center College of Design, Pasadena, California</dd>
      <dt>2010</dt><dd>“Hyperbolic Crochet Coral Reef” group exhibition. Smithsonian National Museum of Natural History, Washington D.C.<br/>
        “Hyperbolic Crochet Coral Reef” group exhibition.The Science Gallery, Trinity College, Dublin, Ireland</dd>
      <dt>2009</dt><dd>“Hyperbolic Crochet Coral Reef” group exhibition. Scottsdale Civic Center Library, Scottsdale, Arizona<br/>
        “Hyperbolic Crochet Coral Reef” group exhibition. Track 16 Gallery, Santa Monica, California</dd>
      <dt>2008</dt><dd>“Hyperbolic Crochet Coral Reef” group exhibition. Hayward Gallery, London, England<br/>
        “Hyperbolic Crochet Coral Reef” group exhibition. Winter Garden, World Financial Center, New York</dd>
      <dt>1999</dt><dd>“Recent Works” solo exhibition. 456 Gallery, New York</dd>
      <dt>1992</dt><dd>“Sculpture” group exhibition. Kingsborough Community College Art Gallery, The City University of New York, New York</dd>
      <dt>1991</dt><dd>“Evolution” graduate solo exhibition. Washington Square East Galleries, New York</dd>
      <dt>1986</dt><dd>"Open Show” group exhibition. National Art Gallery, Kuala Lumpur<br/>
        “Modern Asian Ink and Color Paintings” group exhibition.Korea Culture and Arts Foundation, Seoul, Korea<br/>
        “Side by Side” contemporary British and Malaysian Art group exhibition. National Art Gallery, Kuala Lumpur<br/>
        “Intuition and Expression” solo exhibition. Hotel Equatorial, Kuala Lumpur</dd>

      <dt>1985</dt><dd>“Open Show” group exhibition. National Art Gallery, Kuala Lumpur<br/>
        “International Contemporary Ink Painting Association Exhibition” group exhibition. Genting Highlands, Malaysia<br/>
        “National Invitational Art Exhibition” group exhibition.Kuala Lumpur</dd>
      <dt>1984</dt><dd>“Ink and Brush Exhibition’84” group exhibition. Kuala Lumpur<br/>
        “International Contemporary Ink Painting Association Exhibition” group exhibition. Seoul, Korea</dd>
      <dt>1983</dt><dd>“Three Schools Professors and Lecturers Joint Exhibition” group exhibition. Malaysia, Singapore and Taiwan</dd>
    </dl>

    <h2>Catalogs</h2>
    <p>Selected Works. New York 2012</p>
    <p>Selected Works 1989-1999. New York, 2002</p>
    <p>Intuition and Expression. Kuala Lumpur, Malaysia, 1986</p>

    <h2>Presentations</h2>
    <p>My Journey With Plastic. NYC Clay Forum II, Department of Art and Art Professions, New York University, March 5, 2011</p>

    <h2>Publications</h2>
    <p>Gallery: What happens when you mix math, coral and crochet? It’s mind-blowing by Rebekah Barnett, IDEAS.TED.COM, Jan 31, 2017</p>

    <p>Crochet Coral Reef by Margaret Wertheim and Christine Wertheim, Institute for Figuring, 2015. ISBN 978-0-9779622-3-5</p>

    <p>The Hyperbolic Crochet Coral Reef by Lawrence Weschler, Virginia Quarterly Review, summer 2011 volume 87 # 3</p>

    <h2>Works in Public and Private Collections</h2>
    <p>Public collections – Bank Negara, Kuala Lumpur, Malaysia. Institute for Figuring, Los Angeles, California, U.S.A.</p>
    <p>Private collections – Denmark, England, Japan, Malaysia and U.S.A.</p>
  </div>
