---
layout: layouts/base.njk
permalink: /contact/
key: contact
---

<div class="page contact">
    <h1>Contact</h1>
    <a href="mailto:sckerk@gmail.com">Email: sckerk@gmail.com</a>
    <a href="https://www.facebook.com/kerksiewchu/">Facebook: @kerksiewchu</a>
</div>
