---
layout: layouts/base.njk
permalink: /events.html
key: events
---

<!-- prettier-ignore -->
<div class="page events">
    <h1>Past Exhibitions</h1>
    <p><span lang="zh-Hant">郭秀洙個展</span> 2017/4/22 – 5/4 <br/>
      Kerk Siew Chu solo exhibition <br/>
      <span lang="zh-Hant">開放時間</span> hours : 9:00-17:00 <span lang="zh-Hant">日常</span> daily <br/>
      <span lang="zh-Hant">開幕茶會</span> reception : 4/22(<span lang="zh-Hant">六</span> Saturday)15:00 <br/>
      <span lang="zh-Hant">師大德群畫廊 D 廳</span> <br/>
      NTNU Teh-Chun Art Gallery, D Hall <br/>
      <span lang="zh-Hant">10645 臺北市大安區師大路1號</span> No.1, Shida Rd., Da’an Dist. Taipei City, 10645 Taiwan
    </p>
  </div>
