---
layout: layouts/base.njk
permalink: /events.html
key: events
---

<!-- prettier-ignore -->
<div class="page events">
    <h1>Past Exhibitions</h1>
    <p>郭秀洙個展 2017/4/22 – 5/4 <br/>
      Kerk Siew Chu solo exhibition <br/>
      開放時間 hours : 9:00-17:00 日常 daily <br/>
      開幕茶會 reception : 4/22(六 Saturday)15:00 <br/>
      師大德群畫廊 D 廳 <br/>
      NTNU Teh-Chun Art Gallery, D Hall <br/>
      10645 臺北市大安區師大路1號 No.1, Shida Rd., Da’an Dist. Taipei City, 10645 Taiwan
    </p>
  </div>
